@use '@whale-ui/theme/mixins' as *;
@use '@whale-ui/theme/var' as *;

@include b(divider) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--wl-color-neutral-700);
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    border-top: 1px var(--wl-divider-border-style) var(--wl-color-neutral-200);
    --wl-divider-border-style: solid;
    @include m('dashed') {
      --wl-divider-border-style: dashed;
    }
    @include m('dotted') {
      --wl-divider-border-style: dotted;
    }
    @include m('solid') {
      --wl-divider-border-style: solid;
    }

    @include when(horizontal) {
        display: flex;
        clear: both;
        width: 100%;
        min-width: 100%;
        margin: 24px 0;
        border-top: 1px var(--wl-divider-border-style) var(--wl-color-neutral-200);
        @include when('with-text') {
          border-top: 0;
          display: flex;
          align-items: center;
          --wl-divider-left-grow: 1;
          --wl-divider-right-grow: 1;
          @include e('text') {
            padding: 0 12px;
          }
          @include e('line-start') {
            margin: 24px 0;
            border-top: 1px var(--wl-divider-border-style) var(--wl-color-neutral-200);
            flex: var(--wl-divider-left-grow) 1 auto;
          }
          @include e('line-end') {
            margin: 24px 0;
            border-top: 1px var(--wl-divider-border-style) var(--wl-color-neutral-200);
            flex: var(--wl-divider-right-grow) 1 auto;
          }
          @include when('text-start') {
            --wl-divider-left-grow: 0.05;
            --wl-divider-right-grow: 1;
          }
          @include when('text-end') {
            --wl-divider-left-grow: 1;
            --wl-divider-right-grow: 0.05;
          }
          @include when('text-center') {
            --wl-divider-left-grow: 1;
            --wl-divider-right-grow: 1;
          }
        }
    }
    @include when('vertical') {
        position: relative;
        top: -0.06em;
        display: inline-block;
        height: 0.9em;
        margin: 0 8px;
        vertical-align: middle;
        border-top: 0;
        border-left: 1px var(--wl-divider-border-style) var(--wl-color-neutral-200);
    }

}