@use "sass:map";
$types: top, top-start, top-end, right, right-start, right-end, bottom,
  bottom-start, bottom-end, left, left-start, left-end;

$margin-with: -8px;

$tooltips: (
  "top": (
    "left": 50%,
    "top": $margin-with,
    "transform": translate(-50%, -100%),
  ),
  "top-start": (
    "left": 0,
    "top": $margin-with,
    "transform": translate(0, -100%),
  ),
  "top-end": (
    "right": 0,
    "top": $margin-with,
    "transform": translate(0, -100%),
  ),
  "right": (
    "right": $margin-with,
    "top": 50%,
    "transform": translate(100%, -50%),
  ),
  "right-start": (
    "right": $margin-with,
    "top": 0,
    "transform": translate(100%, 0),
  ),
  "right-end": (
    "right": $margin-with,
    "bottom": 0,
    "transform": translate(100%, 0),
  ),
  "bottom": (
    "left": 50%,
    "bottom": $margin-with,
    "transform": translate(-50%, 100%),
  ),
  "bottom-start": (
    "left": 0,
    "bottom": $margin-with,
    "transform": translate(0, 100%),
  ),
  "bottom-end": (
    "right": 0,
    "bottom": $margin-with,
    "transform": translate(0, 100%),
  ),
  "left": (
    "left": $margin-with,
    "top": 50%,
    "transform": translate(-100%, -50%),
  ),
  "left-start": (
    "left": $margin-with,
    "top": 0,
    "transform": translate(-100%, 0),
  ),
  "left-end": (
    "left": $margin-with,
    "bottom": 0,
    "transform": translate(-100%, 0),
  ),
);

$tooltips-after: (
  "top": (
    "bottom": $margin-with,
    "left": 50%,
    "transform": translate(-50%, 0),
    "border-color": #303133 transparent transparent transparent,
  ),
  "top-start": (
    "bottom": $margin-with,
    "left": 25%,
    "transform": translate(-50%, 0),
    "border-color": #303133 transparent transparent transparent,
  ),
  "top-end": (
    "bottom": $margin-with,
    "left": 75%,
    "transform": translate(-50%, 0),
    "border-color": #303133 transparent transparent transparent,
  ),
  "right": (
    "left": $margin-with,
    "top": 50%,
    "transform": translate(0, -50%),
    "border-color": transparent #303133 transparent transparent,
  ),
  "right-start": (
    "left": $margin-with,
    "top": 25%,
    "transform": translate(0, -50%),
    "border-color": transparent #303133 transparent transparent,
  ),
  "right-end": (
    "left": $margin-with,
    "top": 75%,
    "transform": translate(0, -50%),
    "border-color": transparent #303133 transparent transparent,
  ),
  "bottom": (
    "top": -4px,
    "left": 50%,
    "transform": translate(0, -50%),
    "border-color": transparent transparent #303133 transparent,
  ),
  "bottom-start": (
    "top": -4px,
    "left": 25%,
    "transform": translate(0, -50%),
    "border-color": transparent transparent #303133 transparent,
  ),
  "bottom-end": (
    "top": -4px,
    "left": 75%,
    "transform": translate(0, -50%),
    "border-color": transparent transparent #303133 transparent,
  ),
  "left": (
    "right": $margin-with,
    "top": 50%,
    "transform": translate(0, -50%),
    "border-color": transparent transparent transparent #303133,
  ),
  "left-start": (
    "right": $margin-with,
    "top": 25%,
    "transform": translate(0, -50%),
    "border-color": transparent transparent transparent #303133,
  ),
  "left-end": (
    "right": $margin-with,
    "top": 75%,
    "transform": translate(0, -50%),
    "border-color": transparent transparent transparent #303133,
  ),
);

@each $type in $types {
  .wl-tooltip--#{$type} .wl-tooltip--content {
    $tooltip: map.get($tooltips, $type);
    @each $prop, $vlaue in $tooltip {
      #{$prop}: $vlaue;
    }
  }
}

@each $type in $types {
  .wl-tooltip--#{$type} .wl-tooltip--content::after {
    $tooltip: map.get($tooltips-after, $type);
    @each $prop, $vlaue in $tooltip {
      #{$prop}: $vlaue;
    }
  }
}

.wl-tooltip {
  position: relative;
  display: inline-block;
}

p.wl-tooltip--content {
  display: none;
  position: absolute;
  background-color: #303133;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  white-space: nowrap;
  z-index: 1;
}

.wl-tooltip:hover .wl-tooltip--content {
  display: block;
}

.wl-tooltip--content::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}
